.wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  box-sizing: border-box;
}
.no_results {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2em;
  color: #999;
}
.no_results:after {
  content: '';
  width: 200px;
  display: flex;
  margin-top: 40px;
  box-sizing: border-box;
  height: 200px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../../assets/noresults.svg);
}
