.response__layout {
  display: flex;
  box-sizing: border-box;
  padding: 40px;
  align-items: flex-start;
  justify-content: center;
}

.cards__wrapper {
  display: flex;
  padding-left: 40px;
  min-width: 1000px;
  max-width: 1200px;
  box-sizing: border-box;
  flex-wrap: wrap;
  justify-content: space-between;
}

.sort_hits_wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 20px;
  align-items: flex-start;
}

.total_hits {
  color: #888;
}
