.form__wrapper {
  display: flex;
  box-sizing: border-box;
  padding: 10px 40px;
}

.form_top {
  justify-content: space-between;
  align-content: center;
  background-color: var(--light-color);
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
}
.form_middle {
  width: 100%;
  min-height: 100vh;
  height: auto;
  justify-content: center;
  align-items: center;
}

.form {
  box-sizing: border-box;
  border-radius: var(--border-radius);
  display: flex;
  padding: var(--form-padding);
  align-items: center;
  background-color: var(--extra-light);
}

.search__box {
  position: relative;
  align-items: center;
  display: flex;
}
