.search__input {
  box-sizing: border-box;
  padding: var(--padding);
  height: var(--input-height);
  max-width: 500px;
  min-width: 400px;
  border-radius: 0;
  border: none;

  border-left: var(--border);
}
