.search__input {
  box-sizing: border-box;
  padding: var(--padding);
  height: var(--input-height);
  min-width: 500px;
  border-radius: 0;
  border: none;
  border-right: var(--border);
  border-left: var(--border);
}
