.label {
  box-sizing: border-box;
  padding: 10px;
  margin: 0;
  min-width: 0;
  display: flex;
  width: 150px;
  text-transform: uppercase;
  justify-content: center;
  align-self: stretch;
  align-items: center;
  cursor: pointer;
  border-top-left-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
}
.text {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.label:focus-within {
  background-color: #e0e0e0;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.mediaType {
  cursor: pointer;
}

.wrapper {
  background-color: var(--light-color);
  box-sizing: border-box;
  position: absolute;
  display: flex;
  top: calc(var(--input-height) + var(--triangle--size) * 2);
  left: 0;
  border-radius: var(--border-radius);
  flex-direction: column;
  padding: 20px;
  visibility: hidden;
  z-index: 1;
}

.wrapper:before {
  content: '';
  border: var(--triangle-color);
  border-left: var(--triangle);
  border-right: var(--triangle);
  border-top: var(--triangle);
  position: absolute;
  top: calc(var(--triangle--size) * (-2));
  left: 5px;
  height: 0;
  width: 0;
}

.visible {
  visibility: visible;
}

.showMenu {
  opacity: 1;
  appearance: none;
  width: 1px;
  height: 1px;
}
.showMenu:focus {
  outline: none;
}
